#app4 {}

@keyframes change {
    0% {
        background: rgb(178, 249, 63);
    }

    66% {
        background: rgb(37, 200, 245);
    }

    100% {
        background: rgb(135, 86, 240);
    }
}

#app4 .circle {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    border: 1px solid rgb(239, 106, 11);
    margin-top: 4vw;
    margin-left: 4vw;

}

#app4 .circle.active {
    animation: change 3s infinite alternate linear;
}